*{
    font-family: "Poppins", Calibri;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom right, red, green, yellow);
    background-repeat: no-repeat;
}

.calculator{
    position: relative;
    display: grid;
    margin:10px  30px 10px 30px;
    

}

.calculator .value{
    grid-column: span 4;
    height: 90%;
    text-align: right;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.calculator span{
    display: grid;
    width: 100%;
    height: 150%;
    color: white;
    padding: 20px;
    background: navy;
    place-items: center;
    border: 1px solid rgba(0, 0, 0, 0.493);
}

.calculator span:active{
    background: rgb(142, 35, 35);
    color: blue;
}

.calculator span.clear{
    grid-column: span 3;
    background: rgb(221, 8, 44);
}

.calculator span.plus{
    grid-column: span 2;
}

.calculator span.minus{
    grid-column: span 2;
}

.calculator span.bottom{
    height: 100%;
}

@media(max-height:650px){
    .calculator{
        width: 10%;
        margin: 10%;
        text-align: center;
    }
    body{
        min-width: 100%;
        
    }
}